@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
   <div class="row pt-4">

    <div class="col-6" >

        <h1 class="text-primary">CoverType List</h1>
    </div>
    <div class="col-6 text-end" >
           
        <a class=" btn btn-primary" asp-Controller="CoverType" asp-action="Create">
                <i class="bi bi-plus-circle"></i> Create new CoverType
        </a>
    </div>
    </div>
    <br/>

<table class="table table-bordered table-striped text-primary" style="width:100%">
    <thead>
        <tr>
            <th>
                    CoverType Name
            </th> 
            
            <th>

            </th>
        </tr>
    </thead>
        <tbody class="text-black">
        @foreach(var obj in Model)
        {
            <tr >
                <td width="40%">
                    @obj.Name
                </td>
                
                <td class=" btn-group" role="group">
                        <a class="btn btn-primary mx-1" asp-asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a class="btn btn-danger  mx-1" asp-asp-controller="CoverType" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash3"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
</div>
